doctype html
html
    head
        title= 'Web app'
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        a(href='/') Home
        br
        a(href='/Place') Destination
        br
        a(href='/Visa') Visa information.
        br
        a(href='/Offer') Offer of the month!

        block content